<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>630910170302-dqcvb15tdbisqcjf3ncenkfk9m862lib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630910170302-dqcvb15tdbisqcjf3ncenkfk9m862lib</string>
	<key>API_KEY</key>
	<string>AIzaSyCdS4ssFLvdIK2OF9ODXQOHGjde9cyfVqE</string>
	<key>GCM_SENDER_ID</key>
	<string>630910170302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.upworktest.jianlong</string>
	<key>PROJECT_ID</key>
	<string>upwork-test-63a92</string>
	<key>STORAGE_BUCKET</key>
	<string>upwork-test-63a92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630910170302:ios:235d8a3ea52fac1d17daef</string>
</dict>
</plist>